* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 247, 247);
}

section {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

label {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

input {
    width: 308px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;   
}

.qr-code {
    padding: 25px;
}

.note {
    font-size: x-small;
}